
@green: #0f9d58;
@red: #db4437;

.left {
  &[data-overall=up] {
    background-color: @green;
  }

  &[data-overall=down] {
    background-color: @red;
  }
}

.lines {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;


  path {
    stroke: white;
    fill: none;
    
    stroke-linecap: round;
  
    &[data-type=stock] {
      stroke-opacity: 0.2;
    }

    &[data-type=investor] {
      stroke-opacity: 1;
    }


  }



  path:hover {
    stroke-opacity: 1;
  }



  .lineLabel {
    position: absolute;
    color: white;

    .symbol {
      font-weight: bold;
    }

    .gain {

    }



  }



}

