@green: #0f9d58;
@red: #db4437;

#overview .portfolio > div {
  margin: 20px;
}

#overview .portfolio {
  
  //background-color: #333;
  //color: #999;
  
  background-color: #e5e5e5;
  &[data-overall=up] {
    background-color: mix(#f5f5f5,@green,95%);
  }
  &[data-overall=down] {
    background-color: mix(#f5f5f5,@red,95%);
  }

  


  overflow: scroll;
  font-family: 'Montserrat';
    



  .tiles {
    



    .tile {
      margin-bottom: 25px;
    }

    .tile:hover {
      //color: white;
    }

    .tile:hover .symbol:after {
      content: "\2190";
      margin-left: 5px;
    }

    .tile .symbol {
      font-size: 16px;
      text-transform: uppercase;
    }

    .tile .gain {
      margin-top: 5px;
      font-size: 24px;

      &.up {color: @green;}
      &.down {color: @red;}
    }

  }

  .add {
    text-transform: uppercase;
  }

}