#overview .portfolio {
  
  background-color: #333;
  overflow: scroll;
  color: #999;
  font-family: 'Montserrat';
    

  .tiles {
    margin: 20px;

    .tile {
      margin-bottom: 25px;
    }

    .tile:hover {
      color: white;
    }

    .tile .symbol {
      font-size: 16px;
      text-transform: uppercase;
    }

    .tile .gain {
      margin-top: 5px;
      font-size: 24px;
    }

  }

  .add {
    margin: 20px;
    color: white;
    text-transform: uppercase;
  }

}