
@green: #0f9d58;
@red: #db4437;
@headline-height: 100px;

#overview .visualization {
  &[data-overall=up] {
    background-color: @green;
  }

  &[data-overall=down] {
    background-color: @red;
  }


  .headline {
    position: absolute;
    font-family: 'Montserrat';
    font-size: @headline-height;
    line-height: @headline-height;
    height: @headline-height;
    color: white;

    top: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
  }


  .lines {
    position: absolute;
    top: @headline-height + 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;

    path {
      stroke: white;
      fill: none;
      
      stroke-linecap: round;
    
      &[data-type=stock] {
        stroke-opacity: 0.2;

        &[data-active=true] {
          stroke-opacity: 1;
        }

      }

      &[data-type=investor] {
        stroke-opacity: 1;
      }


    }
  }

  .axis {
    stroke: white;

    .domain {display: none;}

    &.y {
      stroke-dasharray: 5,5;
    }

  }

  .grid {
    stroke: white;

    .domain {display: none;}

    &.major {
      stroke-opacity: 1;
    }

  }

  .loading {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;


    //background-color: fadeout(black,50%);
    color: white;
    font-size: 24px;

    padding-top: 150px;
    text-align: center;

  }
}

