

.chart {
	border: 1px dotted black;
}

.chartBar rect {
	background-color: steelblue;
	padding: 5px;
}

.chartDivs .bar {
	margin: 1px;
	height: 100px;
	line-height: 100px;
	background-color: steelblue;
	text-align: right;

	color: white;
	padding: 5px;
	font-size: 24px;
}