
// colors

@red: #db4437;
@green: rgb(15, 157, 88);



#dashv2 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;

  color: white;


  #pane {
    position: fixed;
    width: 300px;
    right: 0px;
    height: 100%;

    background-color: @green;
  }

  #canvas {
    position: fixed;
    left: 0px;
    right: 300px;
    height: 100%;

    background-color: @red;


  }





}