.dashboard {
  font-size: 1.75em;
}

.dashboard td {
  min-width: 100px;
  padding: 5px;
}

.dashboard.clickable {
  cursor: pointer;
}

.dashboard.clickable:hover {
  background-color: #efefef;
}

.dashboard .symbol {
  font-weight: 400;
}

.dashboard .numerical {
  text-align: right;
}

.dashboard .up {
  color: green;
}

.dashboard .delta {
  font-weight: 400;
}

.dashboard .down {
  color: red;
}

.dashboard .secondary {
  font-size: 0.8em;
}

.dashboard .tertiary {
  font-size: 0.5em;
}

.stock_list {
  margin-bottom: 15px;
}